[Unit]
Description=ROS Teleop
Requires=systemd-modules-load.service
Requires=wd_botones.service
Requires=ros_tfbot.service
BindsTo=ros_tfbot.service
Conflicts=ros_javabot.service
Wants=graphical.target

[Service]
User=ubuntu
PIDFile=/run/tfbot/ros_teleop.pid
#ExecStartPre=/usr/bin/rc_startup_routine
ExecStart=-/opt/tfbot/scripts/runner_teleop.sh
#ExecStop=/usr/bin/rc_kill

[Install]
#WantedBy=wd_botones.service
