[Unit]
Description=ROSCORE Main Service
Requires=wd_botones.service
Wants=multi-user.target

[Service]
User=ubuntu
PIDFile=/run/tfbot/ros_roscore.pid
#ExecStartPre=/usr/bin/rc_startup_routine
ExecStart=-/opt/tfbot/scripts/runner_roscore.sh
#ExecStop=/usr/bin/rc_kill

[Install]
#WantedBy=graphical.target
WantedBy=multi-user.target