[Unit]
Description=Watchdog and Button Interface for TFBOT
Requires=systemd-modules-load.service
Before=bb-wl18xx-wlan0.service
#Wants=multi-user.target

[Service]
#User=ubuntu
PIDFile=/run/tfbot/wd_botones.pid
# Pudiera ser la que setea los LEDs
ExecStartPre=-/opt/tfbot/scripts/default_leds.sh
ExecStart=/opt/tfbot/share/botones/watchdog_tfbot
#ExecStop=/usr/bin/rc_kill

[Install]
WantedBy=multi-user.target
RequiredBy=ros_tfbot.service
